@font-face{
	font-family: RobotoT;
	src:url(../fonts/Roboto-Thin.ttf);
}

@font-face{
	font-family: RobotoL;
	src:url(../fonts/Roboto-Light.ttf);
}

@font-face{
	font-family: RobotoB;
	src:url(../fonts/Roboto-Bold.ttf);
}

@font-face{
	font-family: Mono;
	src:url(../fonts/Montserrat-SemiBold.otf);
}

html,body{
	width:100%;
	height:100%;
	font-family: RobotoL;
}

.main-body{
	position: absolute;
	top: 0;
	width: inherit;
	height: auto;
	background-color: rgba(0,0,0,0.8);
}

/* ************************************************** SCROLL-BAR */
::-webkit-scrollbar { 
	width: 2px; 
	height: 0px;
}

::-webkit-scrollbar-button {  
	background-color: #d8d8d8;
	width: 5px;
	display: none;
}

::-webkit-scrollbar-track {  
	background-color: #d8d8d8;
}

::-webkit-scrollbar-track-piece{ 
	background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb { 
	background-color: #bd1622;
    border-radius: 20px;
}

/* ************************************************** SPLITTER */
.splitter{
	border: none !important;
    height: 1px;
    padding: 0;
    margin: 0 0 11px 0;
    position: relative;
    background: #d5d5d5;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 49%,rgba(255,255,255,0) 49%,rgba(255,255,255,0) 51%,rgba(255,255,255,1) 51%,rgba(255,255,255,0) 100%);
}

.splitter:after{
	position: absolute;
	left: 49.8%;
	top: -5px;
	font-size: 10px;
	content: "\f005";
	color: #d5d5d5;
	font-family: 'FontAwesome';
	line-height: 10px;
	z-index: 10;
	margin-left: -4px;
	position: fixed;
	position: absolute;
	top:0;
}

.splitter-light{
	border: none !important;
	height: 1px;
	width: 50%;
	display: block;
	padding: 0;
	margin: 10px auto 10px auto;
	position: relative;
	background: #d5d5d5;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 49%,rgba(255,255,255,0) 49%,rgba(255,255,255,0) 51%,rgba(255,255,255,1) 51%,rgba(255,255,255,0) 100%);
}

.splitter-light:after{
    position: absolute;
    left: 49.8%;
    top: -5px;
    font-size: 10px;
    content: "\f005";
    color: #fff;
    font-family: 'FontAwesome';
    line-height: 10px;
    z-index: 10;
    margin-left: -4px;
}

.splitter-dark{
	border: none !important;
	height: 1px;
	width: 50%;
	display: block;
	padding: 0;
	margin: 0px auto 60px auto;
	position: relative;
	background: #d5d5d5;
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgb(128, 128, 128) 49%,rgba(0,0,0,0) 49%,rgba(0,0,0,0) 51%,rgb(130, 130, 130) 51%,rgba(0,0,0,0) 100%);
}

.splitter-dark:after{
    position: absolute;
    left: 49.8%;
    top: -5px;
    font-size: 10px;
    content: "\f005";
    color: #aaa;
    font-family: 'FontAwesome';
    line-height: 10px;
    z-index: 10;
    margin-left: -4px;
}

/* ************************************************** VIDEO */
#video-bg {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
}

#video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  #video-bg > video { height: 300%; top: -100%; }
}

@media (max-aspect-ratio: 16/9) {
  #video-bg > video { width: 300%; left: -100%; }
}

@supports (object-fit: cover) {
  #video-bg > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}

/* ************************************************** HEADER */

.login{
	position: fixed;
}

.header{
	font-family: RobotoL;
	width: 100%;
	height: 100%;
	padding-bottom: 150px;
}

.header ul{
	width: 100%;
	text-align: center;
	padding-top: 20px;

}

.header ul li {
	list-style: none;
}

.header ul a{
	text-decoration: none;
	color:#fff;
	display: inline-block;
	width:100px;
	padding-bottom: 5px;
	font-family: RobotoL;
	
}

.header ul img{
	width:200px;
}

.header ul a:hover{
	border-bottom: 2px solid #e84837;
}

.header ul #image:hover{
	border-bottom: none !important; 
}

.header p{
	text-align: center;
}

.header span{
	color:#fff;
	font-size: 1em;
	text-transform: uppercase;
	font-family: RobotoL;
	margin:0px 15px;
}

.header h1{
	font-family: mono;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 5em;
	padding-bottom: 50px;
}

.header input[type="text"]{
    border: 2px solid #aaa;
    outline: 0;
    width: 100%;
    height: 35px;
    border-radius: 50px;
    padding-left: 15px;
    box-sizing: border-box;
}

.header input[type="text"]:focus{
	border: 2px solid #e84837;
}

.header .arrow{
	text-decoration: none;
}

.header .more{
	color: #fff;
	border:2px solid #fff;
	border-radius: 100%;
	width:50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 80px auto 0px auto;
	cursor: pointer;

	position: relative;
	-webkit-animation: moving 700ms linear 0s infinite alternate;   /* Chrome, Safari, Opera */
	-moz-animation: moving 700ms linear 0s infinite alternate;     /* Firefox */

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.header .more:hover{
	background-color: #fff;
	color: #000;
}


@-webkit-keyframes moving {
	0%   {; left:0px; top:0px;}
	100%  { left:0px; top:40px;}
}

@-moz-keyframes moving {
	0%   {; left:0px; top:0px;}
	100%  { left:0px; top:40px;}
}

/* ************************************************** ABOUT */
.about{
	padding-top:20px;
	background-color: #fff;
	padding-bottom: 60px;
}

.about h1{
	text-align: center;
	font-size: 3em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.about p{
	text-align: center;
	margin-bottom: 60px;
	letter-spacing:7px;
}

.about h2{
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
    color: #2c3e50;

    transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.about h3{
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	margin-bottom: 15px;
	font-family: RobotoB;
	font-size: 20px;
	color: #2c3e50;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.about h4{
	text-align: center;
}

.about .item:hover > h2, .about .item:hover > h3 {
	color: #e84837;
}

/* ************************************************** SERVICES */
.services{
	padding-top:20px;
	background-image:url(../imgs/bg2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat:repeat;
	padding-bottom: 60px;
	color: #fff;
}

.services h1{
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.services p{
	text-align: center;
	margin-bottom: 60px;
	letter-spacing:7px;
}

.services img{
	width:70%;
	display: block;
	margin:0px auto;
	margin-bottom: 30px;

}

.services h2{
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
	color:#bbb;

    transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.services hr{
	margin:20px 0px;
	color: #fff;
	background-color: #fff;
}

.services h3{
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	margin-bottom: 15px;
	font-family: RobotoB;
	font-size: 20px;
	color:#bbb;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.services h4{
	text-align: center;
}

.services .item:hover > h2{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}

.services .item:hover > h2, .services .item:hover > h3 {
	color: #e84837;
}


/* ************************************************** COURSES */
.courses{
	display: inline-block;
	width: 100%;
	padding:50px 0px;
	color:#fff;
	background-image:url("../imgs/education.jpg");
	background-attachment:fixed;
}

.courses h6{
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	font-family: Roboto;
}

.courses p{
	text-align:center;
	letter-spacing:7px;
}

.courses .items{
	width: 800px;
	display: block;
	margin:0px auto;
}

.courses .item{
	width: 200px;
	height: 200px;
	display: block;
	float: left;
	opacity: 0.5;
	text-align: center;
	color: #fff;
	position: relative;
}

.courses .item .flipper-front{
	width: inherit;
	height: inherit;
	position: absolute;
	z-index: 5;
	top: 40%;

	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.courses .item .flipper-back{
	width: inherit;
	height: inherit;
	position: absolute;
	z-index: 3;
	top:25%;
	opacity: 0;

	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.army{
	background-color:#706D3C
}
.orange{
	background-color:#E65527
}
.teal{
	background-color:#37A5B3
}
.plum{
	background-color:#363948
}
.purple{
	background-color:#716F84
}
.yellow{
	background-color:#D5BC3A
}
.green{
	background-color:#5EA07F
}
.blue{
	background-color:#1D6285
}
.sky{
	background-color:#86B3BB
}

/* ************************************************** TOOLS */

.tools{
	padding-top:20px;
	background-image:url(../imgs/bg2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat:repeat;
	padding-bottom: 60px;
	color: #fff;
}

.tools h1{
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: Roboto;
}

.tools p{
	text-align: center;
	margin-bottom: 60px;
	letter-spacing:7px;
}

.tools .item img{
	width:80px;
	margin:0px auto;
	display: block;
}

.tools .item h4{
	text-align: center;
	margin: 10px 0px 20px 0px;
}

.tools .item h5{
	text-align: center;
	margin-bottom: 60px;
}

.tools .item span{
	font-size: 10px;
}


/* ************************************************** CONTACT */
.contact{
	color: #fff;
    font-size: 18px;
    background-color: rgba(53, 10, 4, .5);
	background-image:url(../imgs/bg3.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat:repeat;
    font-weight: normal;
    text-align: center;
    padding-bottom: 50px;

}

.contact h1{
	text-align: center;
	padding-top: 50px;
	text-transform: uppercase;
	font-size: 4em;
	color: #fff;
	font-family: Roboto;
}

.contact p{
	margin-top: 10px;
	letter-spacing:7px;
}

.contact p span{
	margin-right: 10px;
}

.contact .item p{
	vertical-align: top;
	width: 70px;
	height: 70px;
	margin: 0 auto 19px;
	line-height: 70px;
	font-size: 66px;
	color: #bd1622;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.contact .item p:hover{
	margin-top: -10px;
}

.contact .item span{
	font-size: 24px;
}

.contact .footer-form{
	margin-top: 50px;
}

.contact .footer-form input[type="text"]{
	width: 100%;
	height: 50px;
	margin: 0 0 30px;
	padding: 12px 20px;
	text-transform: none;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 20px;
	font-size: 18px;
	color: #fff;
	font-style: normal;
	border-radius: 0;
	outline: 0;
	background: none;
	border: 3px solid #fff;
	box-shadow: none;
	box-sizing: border-box;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.contact .footer-form input[type="text"]:focus{
	border-color: #bd1622;
}

.contact .footer-form textarea{
	width: 100%;
	height: 200px;
	margin: 0 0 30px;
	padding: 12px 20px;
	text-transform: none;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 20px;
	font-size: 18px;
	color: #fff;
	font-style: normal;
	border-radius: 0;
	outline: 0;
	background: none;
	border: 3px solid #fff;
	box-shadow: none;
	box-sizing: border-box;
	resize: none;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.contact .footer-form textarea:focus{
	border-color: #bd1622;
}

.contact .footer-form input[type="submit"]{
    width: 200px;
    height: 70px;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 30px;
    color: #fff;
    font-style: normal;
    border-radius: 0;
    outline: 0;
    background: #bd1622;
    border: 3px solid #bd1622;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.8;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.contact .footer-form input[type="submit"]:hover{
	opacity:1;
}


.contact .social{
	text-align: center;
	padding-top: 150px;
}

.contact .social span{
	margin: 5px 20px;
    width: 50px;
    height: 50px;
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.contact .social span:hover{
	background-color: #fff;
	color: #1B1717;
}

.contact p{
	text-align: center;
    padding: 10px 0px;
    color: #fff;
}



/* *********************************** Student page */
.header2{
	font-family: RobotoL;
	width: 100%;
	height:auto;
	padding-bottom: 86px;
	background-color:#262f38;
}

.header2 ul{
	width: 100%;
	text-align: center;
	padding-top: 20px;

}

.header2 ul li {
	list-style: none;
}

.header2 ul a{
	text-decoration: none;
	color:#fff;
	display: inline-block;
	width:100px;
	padding-bottom: 5px;
	font-family: RobotoL;
	
}

.header2 ul img{
	width:200px;
}

.header2 ul a:hover{
	border-bottom: 2px solid #e84837;
}

.header2 ul #image:hover{
	border-bottom: none !important; 
}

.below-menu{
	width: inherit;
	text-align:center;
	height: auto;
	background-color:#E74837;
	padding:10px 0px 10px 0px;
}

.below-menu span{
	color:rgba(0,0,0,0.8);

}

.below-menu .subitems{
	color:#262F38;
}

.leftpart{

}

.userinfo{
	padding: 15px 25px 15px 25px;
    box-shadow: inset 0 0 0 1px #e0e5e9;
    border: 5px solid #fbfbfb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 20px;
    background-color:#fff;
    text-align:center;
    color:#333;


}
.userinfo a{
	color:#333;
	font-size:1em;
	font-style: italic;
	text-decoration:none;
}

.userinfo .profile-pic{
	border-radius:100%;
	border:2px solid #fbfbfc;
	background-color: #D0CFCF;
	margin: 8px 0px 8px 0px;
	overflow:hidden;
	box-shadow: inset 0 0 0 1px #e0e5e9;
	width:50%;
	height:inherit;
	display: inline-block;

}
.userinfo .profile-pic img{
	float:right;
	cursor:pointer;
}
.instructor-option{
	padding: 15px 25px 15px 25px;
    box-shadow: inset 0 0 0 1px #e0e5e9;
    border: 5px solid #fbfbfb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 20px;
    background-color:#fff;
}
.instructor-option p{
    padding-left: 3px;	
	font-size:2em;
	color:#333;
	font-family: RobotoB;
}

.instructor-option hr{
	height: 6px;
	border: 0;
	box-shadow: 0 10px 10px -10px rgba(158, 158, 158, 0.58) inset;

}
.instructor-option ul{
	list-style:none;
	text-decoration:none;
	color:#333;
	
}
.instructor-option ul li{
	padding-bottom: 15px;
}


.instructor-option span{
	color:#E74837;
    font-size:1.3em;
    padding-right:8px;
}
.instructor-option a{
	text-decoration:none;
}
.footer2{
	background-color:#262f38;
	color: #C7C7C7;
}
.footer2 .leftpart h4{
	padding-bottom:16px;
}
.footer2 .leftpart .s1{
	border: 2px solid #fff;
	color:#fff;
    border-radius: 5px;
    padding: 3px 6px;
    font-size: 1em;
    font-family: sans-serif;
}
.footer2 .leftpart .s1:hover{
	color:#E74837;
	cursor:pointer;
	background-color:#fff;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.footer2 .leftpart hr{
	border: 1px solid rgba(113, 118, 122, 0.38);
	width: 96%;
}
.footer2 .leftpart .s2{
	color:#fff;
	
	font-size: 1.3em;
}
.footer2 .leftpart .s2:hover{
	color:#E74837;
	cursor:pointer;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.footer2 hr{
	border: 1px solid rgba(113, 118, 122, 0.38);
	width: 84%;
}